.card__container {
  padding: 24px;
  margin: 12px 24px 12px 0;
  border: 1px solid rgb(27, 27, 27);
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  background-color: #fff;
}

.cards__container {
  display: flex;
}

.card__text {
  margin: 0 6px 0 0;
}

.card__text-primary {
  font-weight: 600;
}

.card__form {
  margin: 12px 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 24px;
  border: 1px solid rgb(27, 27, 27);
  border-radius: 16px;
  width: 300px;
  background-color: #fff;
  justify-content: space-evenly;
}

.card__content {
  margin: 12px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__bottom {
  margin-top: 16px;
  margin-bottom: 8px;
}
